<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>cycle-3</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>email</param-name>
    <param-value>zainab@gmail.com</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>password</param-value>
  </context-param>
  <context-param>
    <param-name>creditCardNumber</param-name>
    <param-value>123456</param-value>
  </context-param>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/ls</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.login.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
    
</web-app>